@model ProjectTaa.Models.Log

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-4"></div>
<div class="row">
    <div class="col-md-4" style="border-color:aqua; background-color:antiquewhite">
        <h2>Edit</h2>

        <h4>Job</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CallerName" class="control-label"></label>
                <input asp-for="CallerName" class="form-control" />
                <span asp-validation-for="CallerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="LogDate" class="control-label"></label>
                    <input asp-for="LogDate" class="form-control" />
                    <span asp-validation-for="LogDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control" asp-items="Html.GetEnumSelectList<States>()"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalGovernment" class="control-label"></label>
                <input asp-for="LocalGovernment" class="form-control" />
                <span asp-validation-for="LocalGovernment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control"  readonly/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallDescription" class="control-label"></label>
                <textarea asp-for="CallDescription" class="form-control" rows="4" cols="10" style="resize:none"></textarea>
                <span asp-validation-for="CallDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImportanceLevel" class="control-label"></label>
                <select asp-for="ImportanceLevel" class="form-control" asp-items="Html.GetEnumSelectList<Level>()"></select>
                <span asp-validation-for="ImportanceLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
